.form {
  margin-bottom: 2rem;
}

.perdeu {
  display: inline-block;
  color: #666;
  padding: .5rem 0;
  line-height: 1;
}

.perdeu::after {
  display: block;
  content: '';
  height: 2px;
  width: 100%;
  display: block;
  /* O currentColor pega a cor do elemento atual. */
  background: currentColor;
}

.cadastro {
  margin: 4rem 0;
}

.cadastro p {
  margin: 2rem 0;
}

.subtitle {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
}

.subtitle::after {
  content: '';
  display: block;
  width: 3rem;
  height: .5rem;
  background: #ddd;
  border-radius: .2rem;
}
