.textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-family: var(--type-first);
  resize: none;
  border: 1px solid #eee;
  padding: .5rem;
  border-radius: .2rem;
  background-color: #eee;
  transition: .2s;
}

.textarea:focus, .textarea:hover {
  outline: none;
  border-color: #fb1;
  background-color: #fff;
  box-shadow: 0 0 0 3px #fea;
}